<%= form_for :sessions, controller: "sessions", action: "create" do |f| %>
  Username: <%= f.text_field :name %>
  Password: <%= f.password_field :password %>
  <%= f.submit "Submit" %>
<% end %>

<p>or <%= link_to "Sign up!", new_user_path %></p>
