<h2>Analytics</h2>
<p>Total Users: <%= @stats[:total_users] %></p>
<p>Total Games: <%= @stats[:total_games] %></p>
<p>Total Events: <%= @stats[:total_events] %></p>
<p>Most popular event: <%= @stats[:most_popular_event] %></p>
<p>Most popular game: <%= @stats[:most_popular_game] %></p>
