<div class="flex-container">
  <%= form_for :user, url: '/users', :html => {:class => "ui form flex-container"} do |f|  %>
    <div class="field flex-container">
      <%= f.label :name, class: 'element-welcome-bar' %>
      <%= f.text_field :name%>
    </div>
    <div class="field flex-container">
      <%= f.label :password, class: 'element-welcome-bar' %>
      <%= f.password_field :password%>
    </div>
    <div class="field flex-container">
      <%= f.label :password_confirmation, class: 'element-welcome-bar'%>
      <%= f.password_field :password_confirmation %>
    </div>
    <%= f.submit "Sign Up", :class => "ui button", :id => "element-welcome-bar" %>
  <% end %>
  <div>
    <p>or <%= link_to "Log in", root_path %></p>
  </div>
</div>
