<h1>New Event Form</h1>

<%= simple_form_for @event do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br>
  <%= f.label :location %>
  <%= f.text_field :location %><br>
  <%= f.datetime_field(:date, min: Date.today) %>

  <%= f.button :submit %>
<% end %>
