<h2><%= @event.title %></h2>
<div class="element-row">
  <div class="item game-title">
   <p><%= @event.date.strftime("%B %-d, %Y at %l:%M %P") %> in <%= @event.address %>, <%= @event.city %> (<%= @event.country %>) <%= @event.description %></p>
  </div>

  <% if  @event.date > Time.now %>
    <% if @event.host_id == current_user_id.to_i %>
      <%= link_to "Edit", edit_event_path, :class => "item game-title" %>
    <% end %>
      <% if !host?(@event.id) %>
          <% if registered?(@event.id) %>
            <%= form_for current_event_player(@event.id), method: 'delete' do |f| %>
              <%= f.hidden_field :event_player_id, value: current_event_player_id(@event.id) %>
              <%= f.submit "Unregister", :class => "ui button", :id => "user-menu"  %>
            <% end %>
          <% else %>
            <%= form_for @eventplayer do |f| %>
              <%= f.hidden_field :event_id, value: @event.id %>
              <%= f.submit "Register", :class => "ui button", :id => "user-menu"  %>
            <% end %>

          <% end %>

      <% end %>
    <% end %>
</div>

<br><br>
<h3>Registered Players</h3>
<div class="ui link list">
  <% player_list_by_player(@event.id).each do |player| %>
    <div class="flex-container"><i class="right triangle icon centered"></i>
      <%= link_to player.name, user_path(player), :class => "item game-title" %>
    </div>
  <% end %>
</div>
