<h3 class="error"><%= @game.errors.full_messages[0] if @game.errors.full_messages.present? %></h3>

<%= form_for @game, :html => {:class => "ui form"} do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :yearpublished %>
    <%= f.number_field :yearpublished %>
  </div>
  <div class="field">
    <%= f.label :minplayers %>
    <%= f.number_field :minplayers %>
  </div>
  <div class="field">
    <%= f.label :maxplayers %>
    <%= f.number_field :maxplayers %>
  </div>
  <div class="field">
    <%= f.label :age %>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :image %>
    <%= f.text_field :image %>
  </div>
  <%= f.submit :class => "ui button" %>
<% end %>
