<h1>Games</h1>
<p><%= link_to "Create Game", "games/new" %></p>

<h2>All Games</h2>
<ol>
  <% @games.each do |game| %>
    <li>
      <%= link_to game.title, game %>
      <% if !owned_game?(game.id) %>
          <%= form_for @ownership do |f| %>
          <%= f.hidden_field :game_id, value: game.id %>
          <%= f.submit "Add to Collection" %>
          <% end %>
      <% else %>
        <%= form_for current_ownership(game.id), method: 'delete' do |f| %>
        <%= f.hidden_field :ownership_id, value: current_ownership(game.id).id %>
        <%= f.submit "Remove from Collection" %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ol>
