<h2>Games</h2>
<p><%= link_to "Create Game", "games/new" %></p>

<h2>All Games</h2>
<div class="ui link list">
  <% @games.each do |game| %>
      <div class="flex-container"><i class="right triangle icon centered"></i>
      <%= link_to game.title, game, :class => "item game-title" %>
      <% if !owned_game?(game.id) %>
          <%= form_for @ownership do |f| %>
          <%= f.hidden_field :game_id, value: game.id %>
          <%= f.submit "Add to Collection", :class => "ui button"%>
          <% end %>
      <% else %>
        <%= form_for current_ownership(game.id), method: 'delete' do |f| %>
        <%= f.hidden_field :ownership_id, value: current_ownership_id(game.id) %>
        <%= f.submit "Remove from Collection", :class => "ui button" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
