<!DOCTYPE html>
<html>
  <head>
    <title>BoardgameApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    You're logged as: <%= user_name %> | <%= link_to "Home", '/' %> | <%= link_to "Events", '/events' %> | <%= link_to "Board Games", '/games' %> | <%= link_to "Users", '/users' %>
    <%= yield %>
  </body>
</html>
