<!DOCTYPE html>
<html>
  <head>
    <title>BoardgameApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <title>Semantic UI CDN</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>

  </head>

  <body>
          <div class="welcome-bar">
            <%= yield %>
          </div>

          <div class="pusher">
            <div class="ui inverted vertical masthead center aligned segment" id="welcome-container">
              <div class="ui text container">
                <h2 class="title-welcome">Board Games with Strangers</h2>
                <h3 class="subtitle-welcome">Join <%= events_now %> Upcoming Board Game Events Now </h3>
                <div>
                  <img src="http://savingthrowshow.com/wp-content/uploads/2015/04/flashing_dice.gif" style="height:300px;" alt="dices gif">
                </div>
                </div>
              </div>
            </div>
          </div>
<footer>
Made with <i class="heart icon"></i> by <%= link_to "Greg Schmitt", "https://github.com/GregS30" %> and <%= link_to "Alberto Carreras", "https://github.com/AlbertCarreras" %>
</footer>
  </body>
</html>
